@model Beauty.Application.Modules.Service.Messaging.CreateRangeRequest
@{
    ViewData["Title"] = "ایجاد خدمات";
}

<div class="beauty-subheader   beauty-grid__item" id="Beauty_subheader">
    <div class="beauty-container  beauty-container--fluid ">
        <div class="beauty-subheader__main">
            <span class="beauty-subheader__separator beauty-hidden"></span>
        </div>
        <div class="beauty-subheader__toolbar">
            <div class="beauty-subheader__wrapper">
            </div>
        </div>
    </div>
</div>
<div class="beauty-content  beauty-grid__item beauty-grid__item--fluid beauty-grid beauty-grid--hor" id="Beauty_content">
    <div class="beauty-container  beauty-container--fluid  beauty-grid__item beauty-grid__item--fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="beauty-portlet" id="Beauty_page_portlet">
                    <div class="beauty-portlet__head beauty-portlet__head--lg">
                        <div class="beauty-portlet__head-label">
                            <h3 class="beauty-portlet__head-title">ثبت خدمات جدید</h3>
                        </div>
                        <div class="beauty-portlet__head-toolbar">
                            <div class="btn-group  beauty-margin-r-10">
                                <button type="button" id="Beauty_services_submit" class="btn btn-primary">
                                    <i class="flaticon-download mr-3"></i>
                                    <span class="beauty-hidden-mobile">ثبت همه </span>
                                </button>
                            </div>
                            <a href="/Service/Index" class="btn btn-secondary">
                                <i class="flaticon2-left-arrow"></i>
                                <span class="beauty-hidden-mobile">بازگشت به لیست خدمات</span>
                            </a>
                        </div>
                    </div>
                    <div class="beauty-portlet__body">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12">
                                @using (Html.BeginForm("Create", "Personnel", FormMethod.Post, new { @class = "beauty-form", id = "service_form", autocomplete = "off" }))
                                {
                                    <div id="services_wrapper">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="beauty-portlet__foot">
                        <div class="beauty-form__actions beauty-form__actions--right">
                            <div class="row">
                                <div class="col beauty-align-left">
                                    <button type="button" id="add_service" class="btn btn-success"><i class="flaticon-add-circular-button mr-2"></i> افزودن ردیف </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="service_template">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12">
            <div class="form-group">
                <label for="Entities_{{index}}__Title">عنوان</label> <span class="text-danger">*</span>
                <input class="form-control Entities__Title" id="Entities_{{index}}__Title" name="Entities[{{index}}].Title" type="text">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
            <div class="form-group">
                <label for="Entities_{{index}}__DurationMinutes">مقدار زمان به دقیقه</label>
                <input class="form-control Entities__DurationMinutes" id="Entities_{{index}}__DurationMinutes" name="Entities[{{index}}].DurationMinutes" type="number" min="0">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
            <div class="form-group">
                <label for="Entities_{{index}}__Price">قیمت (تومان)</label> <span class="text-danger">*</span>
                <input class="form-control Entities__Price" id="Entities_{{index}}__Price" name="Entities[{{index}}].Price" type="text">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
            <div class="form-group">
                <label for="Entities_{{index}}__Score">امتیاز</label> <span class="text-danger">*</span>
                <input class="form-control Entities__Score" id="Entities_{{index}}__Score" name="Entities[{{index}}].Score" type="number" min="0">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
            <div class="form-group">
                <label for="Entities_{{index}}__CustomerMinScore">امتیاز مشتری</label> <span class="text-danger">*</span>
                <input class="form-control Entities__CustomerMinScore" id="Entities_{{index}}__CustomerMinScore" name="Entities[{{index}}].CustomerMinScore" type="number" min="0">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
            <div class="form-group">
                <label for="Entities_{{index}}__Prepayment"> پیش پرداخت مشتری (تومان)</label>
                <input class="form-control Entities__Prepayment" id="Entities_{{index}}__Prepayment" name="Entities[{{index}}].Prepayment" type="text">
            </div>
        </div>
    </div>
    <div class="beauty-radio-inline">
        <label class="beauty-radio beauty-radio--brand">
            <input type="radio" id="Entities_{{index}}__IsActive" name="Entities[{{index}}].IsActive" checked value="true"> فعال
            <span></span>
        </label>
        <label class="beauty-radio beauty-radio--success">
            <input type="radio" id="Entities_{{index}}__IsActive" name="Entities[{{index}}].IsActive" value="false"> غیر فعال
            <span></span>
        </label>
    </div>
    <div class="beauty-separator beauty-separator--border-dashed beauty-separator--space-xs"></div>
    <script type="text/javascript">
        $(function () {
            $("#Entities_{{index}}__Price").inputmask("999,999", {
                numericInput: !0
            });
            $("#Entities_{{index}}__Prepayment").inputmask("999,999", {
                numericInput: !0
            });
        });
    </script>
</script>

@section Scripts{
    <script src="~/lib/mustache.js" asp-append-version="true"></script>
    <script src="~/js/pages/service-create-range.js" asp-append-version="true"></script>
}