@model Beauty.Application.Modules.Service.ViewModel.ServiceIndexViewModel
@{
    ViewData["Title"] = PageTitleResource.ServiceIndex;
}

<link href="~/theme/app-assets/vendors/css/tables/datatable/datatables.min.css" rel="stylesheet" />
<link href="~/theme/app-assets/vendors/css/extensions/sweetalert2.min.css" rel="stylesheet" />

<section class="users-list-wrapper">
    <div id="basic-examples">
        <div class="card">
            <div class="card-header">
                <button type="button" id="modal_create" data-toggle="modal" data-target="#large" class="btn btn-primary mb-2"><i class="feather icon-plus"></i>&nbsp; ثبت خدمت جدید</button>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content  collapse show">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="services">
                            <thead>
                                <tr>
                                    @foreach (var header in Model.Headers)
                                    {
                                        <th>@header.Title</th>
                                    }
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade text-left" id="large" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary white">
                <h4 class="modal-title" id="myModalLabel17">اطلاعات خدمت</h4>
            </div>
            <div class="modal-body mt-75 mb-25">
                @using (Html.BeginForm("Create", "Service", FormMethod.Post, new { @class = "form", id = "service_form", autocomplete = "off" }))
                {
                    <input type="hidden" id="Entity_Id" name="Entity.Id" value="0">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-label-group">
                                    <input type="text" id="Entity_Title" class="form-control" name="Entity.Title" placeholder="عنوان *">
                                    <label for="Entity_Title">عنوان <span class="text-danger">*</span></label>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-label-group">
                                    <input type="number" min="0" id="Entity_DurationMinutes" class="form-control" name="Entity.DurationMinutes" placeholder="مقدار زمان به دقیقه" value="0">
                                    <label for="Entity_DurationMinutes">مقدار زمان به دقیقه</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-label-group">
                                    <input type="text" id="Entity_Price" class="form-control" name="Entity.Price" placeholder="قیمت(تومان) " value="0">
                                    <label for="Entity_Price">قیمت(تومان)</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-label-group">
                                    <input type="number" min="0" id="Entity_Score" class="form-control" name="Entity.Score" placeholder="امتیاز" value="0">
                                    <label for="Entity_Score">امتیاز</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-label-group">
                                    <input type="number" min="0" id="Entity_TakeItFreeCount" class="form-control" name="Entity.TakeItFreeCount" placeholder="حداقل تعداد انجام برای یکبار رایگان شدن" value="0">
                                    <label for="Entity_TakeItFreeCount">حداقل تعداد انجام برای یکبار رایگان شدن</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-label-group">
                                    <input type="text" id="Entity_Prepayment" class="form-control" name="Entity.Prepayment" placeholder="پیش پرداخت مشتری (تومان)" value="0">
                                    <label for="Entity_Prepayment">پیش پرداخت مشتری (تومان)</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="Entity_LineId">لاین<span class="text-danger">*</span></label>
                                @Html.DropDownList("Entity.LineId", Model.Lines, "لاین خدمت را انتخاب کنید", new { @class = "form-control" })
                            </div>
                        </div>
                        <hr />
                        <div class="row mt-75">
                            <div class="col-md-12 col-12 col-lg-12 col-sm-12">
                                <span class="form-text text-dark" style=" font-size: .8rem !important;"> در صورتیکه هزینه خدمت متغییر است, قیمت خدمت را صفر باشد و در این قسمت ریزهزینه های خدمت اضافه شود</span>
                                <hr />
                                <div class="row">
                                    <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                                        <label>عنوان </label><span class="form-text text-danger" style=" font-size: .8rem !important;"> (آیتمهایی که عنوان آنها خالی است حذف میشود) </span>
                                    </div>
                                    <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                                        <label>قیمت ثابت برای هر واحد</label>
                                    </div>
                                </div>
                                <div id="details_wrapper">
                                    <div class="alert alert-warning" role="alert">
                                        <p class="mb-0">
                                            ریزهزینه ای برای این خدمت تعریف نشده
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                                        <button type="button"
                                                class="btn bg-gradient-success mr-1 mb-1 waves-effect waves-light"
                                                id="details_count"
                                                onclick="add_detail(this)"
                                                value="0"
                                                style="margin-right: 45%;">
                                            <i class="feather icon-plus"></i>
                                            جزییات بیشتر
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" id="submit_create_service"><i class="feather icon-check"></i> ثبت </button>
                <button type="button" class="btn btn-primary pull-left" id="submit_edit_service" style="display:none"><i class="feather icon-check"></i> ثبت تغییرات</button>
                <button type="button" class="btn btn-outline-warning" data-dismiss="modal"><i class="feather icon-x"></i>  انصراف</button>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="details_template">
    <input type="hidden" id="Entity_Details[{{index}}]_Id" class="form-control" name="Entity.Details[{{index}}].Id" value="{{id}}">
    <input type="hidden" id="Entity_Details[{{index}}]_ServiceId" class="form-control" name="Entity.Details[{{index}}].ServiceId" value="{{serviceId}}">
    <div class="row">
        <div class="col-6 col-lg-6 col-md-6 col-sm-6">
            <div class="form-label-group">
                <input type="text" id="Entity_Details[{{index}}]_Title" class="form-control" name="Entity.Details[{{index}}].Title" value="{{title}}">
            </div>
        </div>
        <div class="col-6 col-lg-6 col-md-6 col-sm-6">
            <div class="form-label-group">
                <input type="text" id="Entity_Details[{{index}}]_Price" class="form-control price_mask" name="Entity.Details[{{index}}].Price" value="{{price}}">
            </div>
        </div>
    </div>
</script>

@section Scripts{
    <script src="~/lib/mustache.js"></script>
    <script src="~/theme/app-assets/vendors/js/extensions/sweetalert2.all.min.js"></script>
    <script src="~/lib/jquery-inputmask.js"></script>
    <script src="~/theme/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/theme/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="~/js/pages/service-index.js" asp-append-version="true"></script>
}
