@model Beauty.Application.Modules.Personnel.ViewModel.PersonnelIndexViewModel
@{
    ViewData["Title"] = PageTitleResource.PersonnelIndex;
}


<link href="~/theme/app-assets/vendors/css/tables/datatable/datatables.min.css" rel="stylesheet" />
<link href="~/theme/app-assets/vendors/css/extensions/sweetalert2.min.css" rel="stylesheet" />

<section class="users-list-wrapper">
    <div id="basic-examples">
        <div class="card">
            <div class="card-header">
                @using (Html.BeginForm("Modify", "Personnel", FormMethod.Post, new { }))
                {
                    @Html.Hidden("personnelId", Guid.Empty)
                    <button type="submit" class="btn btn-primary mb-2"><i class="feather icon-plus"></i>&nbsp; ثبت پرسنل جدید</button>
                }
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content  collapse show">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="personnels">
                            <thead>
                                <tr>
                                    @foreach (var header in Model.Headers)
                                    {
                                        <th>@header.Title</th>
                                    }
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script src="~/theme/app-assets/vendors/js/extensions/sweetalert2.all.min.js"></script>
    <script src="~/lib/jquery-inputmask.js"></script>
    <script src="~/theme/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/theme/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="~/js/pages/personnel-index.js" asp-append-version="true"></script>
}
